In [1]:
import os
import pandas as pd
import collections
import numpy as np
from datetime import datetime

In [2]:
def add_features(df, filename ):
    new_df = df
    date_stamp = filename[0:6]
    
    start_date = pd.Series([val for count, val in enumerate(list(new_df['starttime']))])
                            
    month_stamp = int(date_stamp[-2:])
    
    year_stamp = int(date_stamp[0:4])
    
    month_num = [month_stamp for count, val in enumerate(start_date)]
    
    year = [year_stamp for count, val in enumerate(start_date)]
    
    seasons_map = {'winter':[12, 1, 2], 'spring':[3, 4, 5],
                   'summer':[6, 7, 8], 'autumn': [9, 10, 11]}
    
    seasons = [k for k, v in seasons_map.items() 
               for count, month in enumerate(month_num) if month_num[count] in v]

    
    generation_map = {'Silent Generation': {'min':1901, 'max': 1945},
                      'Baby Boomer': {'min':1946, 'max': 1964}, 'Gen X': {'min':1965, 'max': 1981},
                      'Millenials': {'min':1982, 'max': 2004}}

    b_year = list(new_df['birthyear'])

    birth_year = [int(b_year[count]) if (b_year[count] != '\\N') and (b_year[count] > 0)  else 0  for count, val in enumerate(b_year)]
    
    month_map = {'January':1, 'February':2, 'March':3, 'April': 4, 'May': 5, 'June': 6, 'July': 7,
            'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}
    
    month_names = [k for k, v in month_map.items() for count, month in enumerate(month_num) if month_num[count] == v]
    
    cohorts = ['Silent Generation', 'Baby Boomer', 'Gen X', 'Millenials']
    
    gen_max = max(birth_year)
    gen_min = min([birth_year[count] for count, year in enumerate(birth_year) if birth_year[count] > 0])

    generations = []

    for byear in birth_year:
        if (int(byear) >= gen_min) and (int(byear)<= 1945): generations.append('Silent Generation')
        if (int(byear) >= 1946) and (int(byear) <= 1964): generations.append('Baby Boomer')
        if (int(byear) >= 1965) and (int(byear) <= 1981): generations.append('Gen X')
        if (int(byear) >= 1982) and (int(byear) <= gen_max): generations.append('Millenials')
        if int(byear) == 0: generations.append('N/A') 

    new_df['Seasons'] = seasons
    new_df['Month'] = month_names
    new_df['Year'] = year
    new_df['Generation'] = generations
    return new_df

In [ ]:
col_fix = {'trip duration': 'tripduration','bike id': 'bikeid', 'Tripduration':'tripduration', 'Starttime':'starttime', 'Stoptime':'stoptime', 'Start Station ID':'startstationid',
       'Start Station Name':'startstationname', 'Start Station Latitude':'startstationlatitude',
       'Start Station Longitude':'startstationlongitude', 'End Station ID': 'endstationid', 'End Station Name':'endstationname',
        'End Station Latitude': 'endstationlatitude', 'End Station Longitude': 'endstationlongitude', 'Bikeid':'bikeid', 'Usertype':'usertype',
       'Birth Year':'birthyear','Birthyear':'birthyear', 'birth year': 'birthyear', 'Gender':'gender', 'start station name': 'startstationname', 'start station latitude': 'startstationlatitude', 'start station longitude':'startstationlongitude', 'end station id': 'endstationid',
        'end station name':'endstationame', 'end station latitude': 'endstationlatitude', 'end station longitude':'endstationlongitude',
        'Trip Duration': 'tripduration','Start Time': 'starttime', 'Stop Time': 'stoptime', 'Start Station ID': 'startstationid', 'Start Station Name': 'startstationname', 'Start Station Latitude': 'startstationlatitude',
        'Start Station Longitude': 'startstationlongitude',  'End Station ID': 'endstationid', 'Bike ID': 'bikeid', 'User Type':'usertype'}

In [30]:
files = os.scandir(r'D:/tableau/data/mySql/')
num = 0
file_names = os.listdir(r'D:/tableau/data/mySql/')
file_names = file_names
file_names[4]

IndexError: list index out of range

In [ ]:
dd = int('/N'*0)
np.isfinite(dd)

In [3]:
%load_ext sql

In [4]:
%sql mysql+pymysql://root:PyncinCedtajde3@localhost/sakila

'Connected: root@sakila'

In [ ]:
%%sql data <<
SELECT DISTINCT(endstationid)
FROM sakila.citibike;

In [ ]:
# %%sql seasonalityOne <<
# SELECT *
# FROM sampleCiti
# WHERE (sampleCiti.gender = 1 AND sampleCiti.generation = 'Baby Boomer' AND sampleCiti.Year = 2014);

In [33]:
file_path = r'D:/tableau/data/mySql'
input_file = file_names[3]
full_path = os.path.join(file_path, input_file)
df_18 = pd.read_csv(full_path)

In [35]:
male_boomers = [df_14_15,
df_16,
df_17,
df_18]

In [39]:
m_boomers = pd.concat(male_boomers, axis=0)

In [41]:
m_boomers.shape
m_boomers.to_csv(r'D:/tableau/data/mySql/MaleBoomersFull.csv')

(608852, 20)

In [5]:
%%sql seasonality <<
SELECT *
FROM sampleCiti
WHERE (sampleCiti.gender = 0 AND sampleCiti.generation = 'Baby Boomer');

 * mysql+pymysql://root:***@localhost/sakila
1503 rows affected.
Returning data to local variable seasonality

In [7]:
seasonsZero = seasonality.DataFrame().groupby('Seasons').mean()

In [8]:
seasonsZero

,index,tripduration,start station id,startstationlatitude,startstationlongitude,endstationid,endstationlatitude,endstationlongitude,bikeid,gender,Year
Seasons,,,,,,,,,,,
autumn,855037.832117,853.868613,1527.465328,40.741704,-73.986063,1379.259124,40.740673,-73.986319,24961.082117,0.0,2016.948905
spring,719745.575439,740.147368,1577.708772,40.738371,-73.986325,1401.357895,40.737627,-73.984726,24182.800000,0.0,2017.143860
summer,850843.734807,846.942910,1395.845304,40.736367,-73.986687,1324.609576,40.738008,-73.986855,23856.510129,0.0,2017.011050
winter,434777.196850,625.133858,1876.732283,40.747734,-73.980822,1562.488189,40.747316,-73.980898,24232.425197,0.0,2016.929134

In [ ]:
seasonsOne = seasonalityOne.DataFrame().groupby('Seasons').mean()

In [ ]:
seasonsOne

In [ ]:
bikes.DataFrame().describe()

In [ ]:
file_path = 'D:/tableau/FocusData'

for count, item in enumerate(file_names):
    input_file = file_names
    full_path = os.path.join(file_path, input_file)
    if count < 0:
        citiBike = add_features(pd.read_csv(full_path).rename(columns=col_fix), input_file)
        %sql USE sakila;
        %sql PERSIST citiBike;
        %xdel citiBike
    else:
        temp_tbl = add_features(pd.read_csv(full_path).rename(columns=col_fix), input_file)
        %sql PERSIST temp_tbl;
        %sql INSERT INTO citiBike \
        SELECT * \
        FROM temp_tbl;
        %sql DROP TABLE temp_tbl
        %xdel temp_tbl

In [ ]:
month_weights = [0.035, 0.035, 0.05, 0.08, 0.10, 0.11, 0.11, 0.11, 0.12, 0.11, 0.08, 0.06]
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
months
month_weights
sample_sizes = {k:month_weights[count] for count, k in enumerate(months) for v in month_weights}

In [ ]:
file_path = r'D:/tableau/FocusData' 

for count, file in enumerate(file_names):
    print(count)
    if count < 0:
        input_file = file_names[count]
        period = input_file[0:6]
        month_id = period[-2:]
        full_path = os.path.join(file_path, input_file)
        df = add_features(pd.read_csv(full_path).rename(columns=col_fix), input_file)
        fraction = sample_sizes[month_id]
        sampleCiti = df.sample(frac=fraction)
        %sql USE sakila;
        %sql PERSIST sampleCiti;
        %xdel sampleCiti
    else:
        input_file = file_names[count]
        period = input_file[0:6]
        month_id = period[-2:]
        full_path = os.path.join(file_path, input_file)
        df = add_features(pd.read_csv(full_path).rename(columns=col_fix), input_file)
        fraction = sample_sizes[month_id]
        tempCiti = df.sample(frac=fraction)
        %sql PERSIST tempCiti;
        %sql INSERT INTO sampleCiti \
        SELECT * \
        FROM tempCiti;
        %sql DROP TABLE tempCiti;
        %xdel tempCiti